{% extends "layout.twig" %}

{% block content %}

  <main class="col">
    <ul>
      <li>
        <a href="{{ 'admin/posts' | url }}">Manage Posts</a>
      </li>
    </ul>
  </main>
  <aside class="col-lg-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia magni obcaecati facilis et, molestiae iste harum aperiam qui atque mollitia laboriosam! Non iste, eos mollitia in sapiente voluptates qui soluta?</aside>

{% endblock %}